###	Ignore all
*

###	Except these specific files:
# Headers
!inc
!inc/*.h

# Source
!src
!src/*.c
!src/setup/
!src/setup/*.c
!src/setup/*.h

# Makefile
!Makefile

# Libft
!libft

# gitignore
!.gitignore
